.container {
    display: flex;
    padding: 0;
    align-items: center;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translate(-2px, -2px);
    background: #42567a;
    font-size: 1px;
    cursor: pointer;

    &.selected {
        position: absolute;
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        font-size: 16px;
        background-color: white;
        border: 1px solid rgba(48, 62, 88, 0.5);
        cursor: initial;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 76px;
        transform: translateY(-50%);
        font-size: 20px;
        font-weight: bold;
        visibility: hidden;
        opacity: 0;
        transition:
            opacity 0.1s ease,
            visibility 0.1s ease;

        &.textSelected {
            transition:
                opacity 0.4s ease,
                visibility 0.4s ease;
            transition-delay: 0.3s;
            opacity: 1;
            visibility: visible;
            display: block;
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
}
