.emptyData {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    width: 85%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;

    .headerText {
        width: 353px;
        position: absolute;
        padding-left: 80px;
        top: 177px;
        left: 0;
        font-weight: bold;
        font-size: 56px;
        line-height: 120%;
        color: #42567A;

        @media (min-width: 768px) {
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 8px;
                width: 5px;
                height: 120px;
                background: linear-gradient(to bottom, #3877ee, #ef5da8);
            }
        }

        @media (max-width: 767px) {
            top: 59px;
            height: 48px;
            width: 123px;
            padding: 0;
            font-size: 20px;
            color: #42567A;
        }
    }

    @media (max-width: 767px) {
        width: calc(100vw - 40px);
    }

    @media (min-width: 768px) {
        border: 1px solid rgba(66, 86, 122, 0.1);
        border-top: none;
        border-bottom: none;

        &::before {
            content: '';
            position: absolute;
            left: calc(50% + 1px);
            width: 1px;
            height: 100%;
            background-color: rgba(66, 86, 122, 0.1);
        }
    }
}
