$circle-width: 530px;
$top-offset: 215px;
$timeline-width: 1440px;

@media (min-width: 768px) {
    .circle {
        position: absolute;
        width: $circle-width;
        height: $circle-width;
        top: $top-offset;
        left: calc(50% - $circle-width / 2);
        border-radius: calc($circle-width / 2);
        border: 1px solid #dcdcdc;
    }
}
