.container {
    height: 160px;
    line-height: 160px;
    font-size: 11.99vw;
    font-weight: bold;
    max-width: 50%;

    &.pink {
        color: #ef5da8;
    }

    &.blue {
        color: #5d5fef;
    }

    @media (max-width: 767px) or (max-height: 529px) {
        font-size: 56px;

        &.blue {
            color: #3877ee;
        }
    }
}
